<a href="https://colab.research.google.com/github/vego147/portfolio/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary Basic

In [ ]:
book ={
    "title" : "harry potter",
    "author" : "J.K. Rowling",
    "year" : "1996",
    "price" : "500"
}
print(book.get("title"))
print(book.get("author"))
print(book.get("year"))
print(book.get("price"))


book ["rating"] = 4.5
book ["price"] = 550
del book["year"]

count = 0
# for key, value in book.items():
#     count += 1
#     print(key, value)

# print(count)

# print(book.get("title"))
# print(book.get("author"))
# print(book.get("year"))
# print(book.get("price"))


city = {
    "chennai": 500,
    "Madurai": 600,
    "coimbatore": 700,
    "trichy": 900
}

user = input("enter the city: ").lower()

if user in city:
  print (city.get(user))
if user.isnumeric() == True:
  print("dont enter number and enter a valid city")
else:
  print("please enter a valid city")

harry potter
J.K. Rowling
1996
500
enter the city: chennai
500
please enter a valid city

Dictionaries Intermediate

In [7]:
import json

students = {}

def mainmenu():
      dis = """\nstudent records
      1. Add Student
      2. Upadte Marks
      3. Display all records
      4. Save & exit"""
      print(dis)


def add_student():
  name = input("please enter the student name")
  age = input(" enter the student age")
  class_s = input("enter the student class")
  marks = input("enter the student mark")

  students[name] = {"age": age, "class": class_s, "marks": marks}
  print("student added")

def update_marks():
  while True:
     name = input("please enter the student name Whose Marks You want to change")
     if name in students:
        marks = input(f"Please Enter your marks for{name}: " )
        students[name]["marks"] =  marks
        print("Marks has been Updated")
        break
     else:
        print("The Student is not in list")


def display_records():
  print(students)
  print("Records has been Displayed")

def save_exit():
  with open("student_records.txt", "w") as student_book:
     json.dump(students, student_book)
  print("your File Has been saved")




while True:
  mainmenu()
  user = input("Please enter the number that you want to do: ")

  if user == "1":
    add_student()
  elif user == "2":
    update_marks()
  elif user == "3":
    display_records()
  elif user == "4":
    save_exit()
    break
  else:
    print("please choose between 1 to 4")

student records
      1. Add Student
      2. Upadte Marks
      3. Display all records
      4. Save & exit
Please enter the number that you want to do: 1
please enter the student nameMukesh
 enter the student age22
enter the student class35
enter the student mark66
student added

student records
      1. Add Student
      2. Upadte Marks
      3. Display all records
      4. Save & exit
Please enter the number that you want to do: 2
please enter the student name Whose Marks You want to changemukesh
The Student is not in list
please enter the student name Whose Marks You want to changeMukesh
Please Enter your marks forMukesh: 65
Marks has been Updated

student records
      1. Add Student
      2. Upadte Marks
      3. Display all records
      4. Save & exit
Please enter the number that you want to do: 3
{'Mukesh': {'age': '22', 'class': '35', 'marks': '65'}}
Records has been Displayed

student records
      1. Add Student
      2. Upadte Marks
      3. Display all records
      4. Save & exit
Please enter the number that you want to do: 4
your File Has been saved